.comment {
  margin: 16px 0 16px 25px;
  padding: 0px 0 0 25px;
  position: relative;
}
.comment-has-replies {
  border-left: 2px solid #eaeaea;
}
.author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.datetime {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
.comment-body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.action-btns {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: #4b587c;
}
.avatar {
  border-radius: 90px;
  position: absolute;
  top: 0;
  left: -15px;
}
.upvote {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: #4b587c;
  background: none;
  border: none;
  cursor: pointer;
}
